/** stylesheet for  Log In Widget **/
/** inputs ***/

@media (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.entrylabel {
	//text-align: right;
	width: 120px;
	}

	**/
.rowadjust {
margin-bottom: 5px;
}

/** reg forms ***/
.regsubtitle {
	color: blue;
	font-size: 1.5em;
	font-weight: bold;
	padding: 5px;
	margin-top: 20px;
	}
	
.regsections {
	background-color: #e0e0ed;
	margin-top: 10px;
	display: block;
	padding: 20px;
	border-radius: 10px;
	width: 100%;
	max-width: 1000px;
	}
	
	#reg_submit {
		width: 27em;
		height: 5em;
	}
	
input[type="submit"] {
		position: relative;
		color: blue !important;
		background: #e0e0ed !important;
		 box-sizing: border-box;
		 margin-left: 20px;
		 /**
		 margin-right: 20px;
		 **/
		padding: 10px;
		width: 100px;
		 -webkit-border-radius: 5px;
				border-radius: 5px; 
	}
		
		input[type="submit"]:hover {
		background: #f5f5f5 !important;
		color: black !important;
		}

#user_login, #user_pass  {
		width: 110px;
		height: 18px; 
		font-family: Arial, Helvetica, Tahoma;
		font-size: 1em;
		margin-left: 5px;
}

#inputs {
	width: auto;
}
#lost_pw  {
		display: block;
		width: 90%;
		height: 24px; 
		font-family: Arial, Helvetica, Tahoma;
		font-size: 1em;
		 margin-left: 5%;
		margin-right: 5%;
	}
#pw_submit {
	float: auto;
	vertical-align:middle;
	width: 90%;
	margin: 5%;
	padding: 5 5 5 5px;
	background-color: #005681 !important;
	color: white !important;
	border-radius: 5px;
}
/** ilogin button in its table cell***/
#wp-submit {
	float: auto;
	vertical-align:middle;
	margin: 4px;
	padding: 5 5 5 5px;
	background-color: #005681 !important;
	color: white !important;
	border-radius: 5px;
}
/** first row ***/
#upper {
	margin-top: 0px;
	padding-top: 5px;
	padding-left: 10px;
	padding-bottom: 0px;
	}

/** second row ***/
#lower {
	margin-top: 0px;
	padding-top: 2px;
	padding-left: 10px;
	padding-bottom: 0px;
	}	
#Rememberme {
	margin-top: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin-right: 5px;
	vertical-align: middle;
}
#container {
	display: inline-block;
	font-size: 10px;
	font-weight: bold;
	}

#LostP {
	margin-top: 0px;
	padding-top: 5px;
	padding-left: 5px;
	padding-bottom: 0px;
}
#msg {
	color: red;

	margin-top: 0px;
	padding-top: 1px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: center;
}
#msg_grn {
	color: green;
	margin-top: 10px;
	padding-top: 1px;
	padding-left: 5px;
	padding-bottom: 5px;
	text-align: center;
}
#container_forgot_pw {
  display: block;
  margin: 0 auto;
	width: 50%;
}		